table{
border-collapse: collapse;
width:25%;
height: 5px;
}
th{
height: 1px;
width: 50px;;
padding:1px;
border:1px;	
}
td{
height: 5px;
width: 10%;
padding:1px;
border:1px;	
}
tr{
height: 5px;
width: 10%;
padding:1px;
border:1px;	
}
tr:hover {
background-color: #red;
}
/* #nuevo_id{ */
/* height: 30px; */
/* width: 150px; */
/* padding:10px; */
/* border:10px;	 */
/* } */